.game {
  border: red 2px;
  width: 500px;
  position: relative;
  top: 8vh;
}
.game .square {
  background-color: #4CAF50;
  height: 150px;
  width: 150px;
  margin: 10px;
  border-radius: 8px;
  text-align: center;
}


.game .square:hover {
  background-color: #388E3C;
  cursor: pointer;
}

.game .game-option {
  font-size: 140px;
}

@media (max-width: 500px) {
  .game .square {
    background-color: #4CAF50;
    height: 120px;
    width: 120px;
    margin: 8px;
    border-radius: 8px;
    text-align: center;
  }
  .game .game-option {
    font-size: 120px;
  }
}

.little-square {
  border: solid 2px white;
  padding: 5px;
  position: relative;
  top:18%;
}
.squareA {
  border-left: none;
  border-top: none;
  border-right: 2px solid white;
  border-bottom: 4px solid white;
}
.squareB {
  border-left: 2px solid white;
  border-top: none;
  border-bottom: 4px solid white;
}
.squareC {
  border-left: 2px solid white;
  border-top: none;
  border-right: none;
  border-bottom: 4px solid white;
}
.squareD {
  border-left: none;
  border-top: none;
  border-right: 2px solid white;
  border-bottom: 4px solid white;
}
.squareE {
  border-left: 2px solid white;
  border-top: none;
  border-right: 2px solid white;
  border-bottom: 4px solid white;
}
.squareF {
  border-left: 2px solid white;
  border-top: none;
  border-right: none;
  border-bottom: 4px solid white;
}
.squareG {
  border-left: none;
  border-top: none;
  border-right: 2px solid white;
  border-bottom: none;
}
.squareH {
  border-left: 2px solid white;
  border-top: none;
  border-right: 2px solid white;
  border-bottom: none;
}
.squareI {
  border-left: 2px solid white;
  border-top: none;
  border-right: none;
  border-bottom: none;
}
