<div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-4">
    <div class="game">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4 col-xs-4 square">
          <span>
            <i class="material-icons game-option">clear</i>
          </span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 square">
          <span>
            <i class="material-icons game-option">clear</i>
          </span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 square">
          <span>
            <i class="material-icons game-option">clear</i>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4 square">
          <span>
            <i class="material-icons game-option">clear</i>
          </span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 square">
          <span>
            <i class="material-icons game-option">radio_button_unchecked</i>
          </span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 square">
          <span>
            <i class="material-icons game-option">clear</i>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4 square">
          <span>
            <i class="material-icons game-option">clear</i>
          </span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 square">
          <span>
            <i class="material-icons game-option">clear</i>
          </span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 square">
          <span>
            <i class="material-icons game-option">clear</i>
          </span>
        </div>
      </div>


    </div>

  </div>
</div>
</div>
</div>
