<div class="container" style="height: 450px;">
    <div class="gameA">
            <div class="squareA well">x</div>
            <div class="squareB well">x</div>
            <div class="squareC well">x</div>
            <div class="squareD well">x</div>
            <div class="squareE well">x</div>
            <div class="squareF well">x</div>
            <div class="squareG well">x</div>
            <div class="squareH well">x</div>
            <div class="squareI well">x</div>
            <div class="winner"></div>
    </div>
    <div class="gameB">
            <div class="squareA well">x</div>
            <div class="squareB well">x</div>
            <div class="squareC well">x</div>
            <div class="squareD well">x</div>
            <div class="squareE well">x</div>
            <div class="squareF well">x</div>
            <div class="squareG well">x</div>
            <div class="squareH well">x</div>
            <div class="squareI well">x</div>
            <div class="winner"></div>

    </div>
    <div class="gameC">
            <div class="squareA well">x</div>
            <div class="squareB well">x</div>
            <div class="squareC well">x</div>
            <div class="squareD well">x</div>
            <div class="squareE well">x</div>
            <div class="squareF well">x</div>
            <div class="squareG well">x</div>
            <div class="squareH well">x</div>
            <div class="squareI well">x</div>
            <div class="winner"></div>

    </div>
    <div class="gameD">
            <div class="squareA well">x</div>
            <div class="squareB well">x</div>
            <div class="squareC well">x</div>
            <div class="squareD well">x</div>
            <div class="squareE well">x</div>
            <div class="squareF well">x</div>
            <div class="squareG well">x</div>
            <div class="squareH well">x</div>
            <div class="squareI well">x</div>
           <div class="winner"></div>

    </div>
    <div class="gameE">
            <div class="squareA well">x</div>
            <div class="squareB well">x</div>
            <div class="squareC well">x</div>
            <div class="squareD well">x</div>
            <div class="squareE well">x</div>
            <div class="squareF well">x</div>
            <div class="squareG well">x</div>
            <div class="squareH well">x</div>
            <div class="squareI well">x</div>
            <div class="winner"></div>

    </div>
    <div class="gameF">
            <div class="squareA well">x</div>
            <div class="squareB well">x</div>
            <div class="squareC well">x</div>
            <div class="squareD well">x</div>
            <div class="squareE well">x</div>
            <div class="squareF well">x</div>
            <div class="squareG well">x</div>
            <div class="squareH well">x</div>
            <div class="squareI well">x</div>
            <div class="winner"></div>
    </div>
    <div class="gameG">
            <div class="squareA well">x</div>
            <div class="squareB well">x</div>
            <div class="squareC well">x</div>
            <div class="squareD well">x</div>
            <div class="squareE well">x</div>
            <div class="squareF well">x</div>
            <div class="squareG well">x</div>
            <div class="squareH well">x</div>
            <div class="squareI well">x</div>
            <div class="winner"></div>
    </div>
    <div class="gameH">
            <div class="squareA well">o</div>
            <div class="squareB well">o</div>
            <div class="squareC well">o</div>
            <div class="squareD well">o</div>
            <div class="squareE well">o</div>
            <div class="squareF well">o</div>
            <div class="squareG well">o</div>
            <div class="squareH well">o</div>
            <div class="squareI well">o</div>
            <div class="winner"></div>
    </div>
    <div class="gameI">
            <div class="squareA well">o</div>
            <div class="squareB well">o</div>
            <div class="squareC well">o</div>
            <div class="squareD well">o</div>
            <div class="squareE well">o</div>
            <div class="squareF well">o</div>
            <div class="squareG well">o</div>
            <div class="squareH well">o</div>
            <div class="squareI well">o</div>
            <div class="winner"></div>
    </div>
  </div>