<div class="row">
  <div class="col-md-6 col-md-offset-4">
    <div class="game" style="height: 450px;">
      <div class="row">
        <div class="col-md-4 col-xs-4 square">
          <div class="squareA little-square col-md-4 col-xs-4">x</div>
          <div class="squareB little-square col-md-4 col-xs-4">x</div>
          <div class="squareC little-square col-md-4 col-xs-4">x</div>
          <div class="squareD little-square col-md-4 col-xs-4">x</div>
          <div class="squareE little-square col-md-4 col-xs-4">x</div>
          <div class="squareF little-square col-md-4 col-xs-4">x</div>
          <div class="squareG little-square col-md-4 col-xs-4">x</div>
          <div class="squareH little-square col-md-4 col-xs-4">x</div>
          <div class="squareI little-square col-md-4 col-xs-4">x</div>

</div>
        <div class="col-md-4 col-xs-4 square">
          <div class="squareA little-square col-md-4 col-xs-4">x</div>
          <div class="squareB little-square col-md-4 col-xs-4">x</div>
          <div class="squareC little-square col-md-4 col-xs-4">x</div>
          <div class="squareD little-square col-md-4 col-xs-4">x</div>
          <div class="squareE little-square col-md-4 col-xs-4">x</div>
          <div class="squareF little-square col-md-4 col-xs-4">x</div>
          <div class="squareG little-square col-md-4 col-xs-4">x</div>
          <div class="squareH little-square col-md-4 col-xs-4">x</div>
          <div class="squareI little-square col-md-4 col-xs-4">x</div>

        </div>
        <div class="col-md-4 col-xs-4 square">
          <div class="squareA little-square col-md-4 col-xs-4">x</div>
          <div class="squareB little-square col-md-4 col-xs-4">x</div>
          <div class="squareC little-square col-md-4 col-xs-4">x</div>
          <div class="squareD little-square col-md-4 col-xs-4">x</div>
          <div class="squareE little-square col-md-4 col-xs-4">x</div>
          <div class="squareF little-square col-md-4 col-xs-4">x</div>
          <div class="squareG little-square col-md-4 col-xs-4">x</div>
          <div class="squareH little-square col-md-4 col-xs-4">x</div>
          <div class="squareI little-square col-md-4 col-xs-4">x</div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-xs-4 square">
          <div class="squareA little-square col-md-4 col-xs-4">x</div>
          <div class="squareB little-square col-md-4 col-xs-4">x</div>
          <div class="squareC little-square col-md-4 col-xs-4">x</div>
          <div class="squareD little-square col-md-4 col-xs-4">x</div>
          <div class="squareE little-square col-md-4 col-xs-4">x</div>
          <div class="squareF little-square col-md-4 col-xs-4">x</div>
          <div class="squareG little-square col-md-4 col-xs-4">x</div>
          <div class="squareH little-square col-md-4 col-xs-4">x</div>
          <div class="squareI little-square col-md-4 col-xs-4">x</div>

</div>
        <div class="col-md-4 col-xs-4 square">
          <div class="squareA little-square col-md-4 col-xs-4">x</div>
          <div class="squareB little-square col-md-4 col-xs-4">x</div>
          <div class="squareC little-square col-md-4 col-xs-4">x</div>
          <div class="squareD little-square col-md-4 col-xs-4">x</div>
          <div class="squareE little-square col-md-4 col-xs-4">x</div>
          <div class="squareF little-square col-md-4 col-xs-4">x</div>
          <div class="squareG little-square col-md-4 col-xs-4">x</div>
          <div class="squareH little-square col-md-4 col-xs-4">x</div>
          <div class="squareI little-square col-md-4 col-xs-4">x</div>

        </div>
        <div class="col-md-4 col-xs-4 square">
          <div class="squareA little-square col-md-4 col-xs-4">x</div>
          <div class="squareB little-square col-md-4 col-xs-4">x</div>
          <div class="squareC little-square col-md-4 col-xs-4">x</div>
          <div class="squareD little-square col-md-4 col-xs-4">x</div>
          <div class="squareE little-square col-md-4 col-xs-4">x</div>
          <div class="squareF little-square col-md-4 col-xs-4">x</div>
          <div class="squareG little-square col-md-4 col-xs-4">x</div>
          <div class="squareH little-square col-md-4 col-xs-4">x</div>
          <div class="squareI little-square col-md-4 col-xs-4">x</div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-xs-4 square">
          <div class="squareA little-square col-md-4 col-xs-4">x</div>
          <div class="squareB little-square col-md-4 col-xs-4">x</div>
          <div class="squareC little-square col-md-4 col-xs-4">x</div>
          <div class="squareD little-square col-md-4 col-xs-4">x</div>
          <div class="squareE little-square col-md-4 col-xs-4">x</div>
          <div class="squareF little-square col-md-4 col-xs-4">x</div>
          <div class="squareG little-square col-md-4 col-xs-4">x</div>
          <div class="squareH little-square col-md-4 col-xs-4">x</div>
          <div class="squareI little-square col-md-4 col-xs-4">x</div>

</div>
        <div class="col-md-4 col-xs-4 square">
          <div class="squareA little-square col-md-4 col-xs-4">x</div>
          <div class="squareB little-square col-md-4 col-xs-4">x</div>
          <div class="squareC little-square col-md-4 col-xs-4">x</div>
          <div class="squareD little-square col-md-4 col-xs-4">x</div>
          <div class="squareE little-square col-md-4 col-xs-4">x</div>
          <div class="squareF little-square col-md-4 col-xs-4">x</div>
          <div class="squareG little-square col-md-4 col-xs-4">x</div>
          <div class="squareH little-square col-md-4 col-xs-4">x</div>
          <div class="squareI little-square col-md-4 col-xs-4">x</div>

        </div>
        <div class="col-md-4 col-xs-4 square">
          <div class="squareA little-square col-md-4 col-xs-4">x</div>
          <div class="squareB little-square col-md-4 col-xs-4">x</div>
          <div class="squareC little-square col-md-4 col-xs-4">x</div>
          <div class="squareD little-square col-md-4 col-xs-4">x</div>
          <div class="squareE little-square col-md-4 col-xs-4">x</div>
          <div class="squareF little-square col-md-4 col-xs-4">x</div>
          <div class="squareG little-square col-md-4 col-xs-4">x</div>
          <div class="squareH little-square col-md-4 col-xs-4">x</div>
          <div class="squareI little-square col-md-4 col-xs-4">x</div>

        </div>
      </div>

    </div>

  </div>

</div>
