<div class="container" style="height: 450px;">
    <div class="gameA well col-md-4 col-xs-4">
            <div class="squareA col-md-4 col-xs-4">x</div>
            <div class="squareB col-md-4 col-xs-4">x</div>
            <div class="squareC col-md-4 col-xs-4">x</div>
            <div class="squareD col-md-4 col-xs-4">x</div>
            <div class="squareE col-md-4 col-xs-4">x</div>
            <div class="squareF col-md-4 col-xs-4">x</div>
            <div class="squareG col-md-4 col-xs-4">x</div>
            <div class="squareH col-md-4 col-xs-4">x</div>
            <div class="squareI col-md-4 col-xs-4">x</div>
            <div class="winner"></div>
    </div>
    <div class="gameB well col-md-4 col-xs-4">
            <div class="squareA col-md-4 col-xs-4">x</div>
            <div class="squareB col-md-4 col-xs-4">x</div>
            <div class="squareC col-md-4 col-xs-4">x</div>
            <div class="squareD col-md-4 col-xs-4">x</div>
            <div class="squareE col-md-4 col-xs-4">x</div>
            <div class="squareF col-md-4 col-xs-4">x</div>
            <div class="squareG col-md-4 col-xs-4">x</div>
            <div class="squareH col-md-4 col-xs-4">x</div>
            <div class="squareI col-md-4 col-xs-4">x</div>
            <div class="winner"></div>

    </div>
    <div class="gameC well col-md-4 col-xs-4">
            <div class="squareA col-md-4 col-xs-4">x</div>
            <div class="squareB col-md-4 col-xs-4">x</div>
            <div class="squareC col-md-4 col-xs-4">x</div>
            <div class="squareD col-md-4 col-xs-4">x</div>
            <div class="squareE col-md-4 col-xs-4">x</div>
            <div class="squareF col-md-4 col-xs-4">x</div>
            <div class="squareG col-md-4 col-xs-4">x</div>
            <div class="squareH col-md-4 col-xs-4">x</div>
            <div class="squareI col-md-4 col-xs-4">x</div>
            <div class="winner"></div>

    </div>
    <div class="gameD well col-md-4 col-xs-4">
            <div class="squareA col-md-4 col-xs-4">x</div>
            <div class="squareB col-md-4 col-xs-4">x</div>
            <div class="squareC col-md-4 col-xs-4">x</div>
            <div class="squareD col-md-4 col-xs-4">x</div>
            <div class="squareE col-md-4 col-xs-4">x</div>
            <div class="squareF col-md-4 col-xs-4">x</div>
            <div class="squareG col-md-4 col-xs-4">x</div>
            <div class="squareH col-md-4 col-xs-4">x</div>
            <div class="squareI col-md-4 col-xs-4">x</div>
           <div class="winner"></div>

    </div>
    <div class="gameE well col-md-4 col-xs-4">
            <div class="squareA col-md-4 col-xs-4">x</div>
            <div class="squareB col-md-4 col-xs-4">x</div>
            <div class="squareC col-md-4 col-xs-4">x</div>
            <div class="squareD col-md-4 col-xs-4">x</div>
            <div class="squareE col-md-4 col-xs-4">x</div>
            <div class="squareF col-md-4 col-xs-4">x</div>
            <div class="squareG col-md-4 col-xs-4">x</div>
            <div class="squareH col-md-4 col-xs-4">x</div>
            <div class="squareI col-md-4 col-xs-4">x</div>
            <div class="winner"></div>

    </div>
    <div class="gameF well col-md-4 col-xs-4">
            <div class="squareA col-md-4 col-xs-4">x</div>
            <div class="squareB col-md-4 col-xs-4">x</div>
            <div class="squareC col-md-4 col-xs-4">x</div>
            <div class="squareD col-md-4 col-xs-4">x</div>
            <div class="squareE col-md-4 col-xs-4">x</div>
            <div class="squareF col-md-4 col-xs-4">x</div>
            <div class="squareG col-md-4 col-xs-4">x</div>
            <div class="squareH col-md-4 col-xs-4">x</div>
            <div class="squareI col-md-4 col-xs-4">x</div>
            <div class="winner"></div>
    </div>
    <div class="gameG well col-md-4 col-xs-4">
            <div class="squareA col-md-4 col-xs-4">x</div>
            <div class="squareB col-md-4 col-xs-4">x</div>
            <div class="squareC col-md-4 col-xs-4">x</div>
            <div class="squareD col-md-4 col-xs-4">x</div>
            <div class="squareE col-md-4 col-xs-4">x</div>
            <div class="squareF col-md-4 col-xs-4">x</div>
            <div class="squareG col-md-4 col-xs-4">x</div>
            <div class="squareH col-md-4 col-xs-4">x</div>
            <div class="squareI col-md-4 col-xs-4">x</div>
            <div class="winner"></div>
    </div>
    <div class="gameH well col-md-4 col-xs-4">
            <div class="squareA col-md-4 col-xs-4">o</div>
            <div class="squareB col-md-4 col-xs-4">o</div>
            <div class="squareC col-md-4 col-xs-4">o</div>
            <div class="squareD col-md-4 col-xs-4">o</div>
            <div class="squareE col-md-4 col-xs-4">o</div>
            <div class="squareF col-md-4 col-xs-4">o</div>
            <div class="squareG col-md-4 col-xs-4">o</div>
            <div class="squareH col-md-4 col-xs-4">o</div>
            <div class="squareI col-md-4 col-xs-4">o</div>
            <div class="winner"></div>
    </div>
    <div class="gameI well col-md-4 col-xs-4">
            <div class="squareA col-md-4 col-xs-4">o</div>
            <div class="squareB col-md-4 col-xs-4">o</div>
            <div class="squareC col-md-4 col-xs-4">o</div>
            <div class="squareD col-md-4 col-xs-4">o</div>
            <div class="squareE col-md-4 col-xs-4">o</div>
            <div class="squareF col-md-4 col-xs-4">o</div>
            <div class="squareG col-md-4 col-xs-4">o</div>
            <div class="squareH col-md-4 col-xs-4">o</div>
            <div class="squareI col-md-4 col-xs-4">o</div>
            <div class="winner"></div>
    </div>
  </div>