<div class="container">
  <div class="jumbotron text-center">
    <h1>Welcome to Toe Tac Tic!</h1>
    <h2>This is the welcome page</h2>
    <button class="btn btn-primary">Create Game</button>
    <button class="btn btn-success">Join Game</button>
  </div>
</div>

<h1>Choose X Or O</h1>
<div id="players">
  <div id="X" class="">Player X</div>
  <div id="O" class="">Player O</div>
  <input type="button" class="button" value="New Game">
</div>
<table>
  <tr>
    <td id="0">1</td>
    <td id="1">2</td>
    <td id="2">3</td>
  </tr>
  <tr>
    <td id="3">1</td>
    <td id="4">2</td>
    <td id="5">3</td>
  </tr>
  <tr>
    <td id="6">1</td>
    <td id="7">2</td>
    <td id="8">3</td>
  </tr>
</table>